h1{
    background-color: rgb(174, 242, 174);
    color: white;
}

.classp1 nav{
    background-color: antiquewhite;
}

.classp2 nav{
    background-color: gainsboro;
}

a{
    display: inline-block;
    width: 20vw;
    max-width: 120px;
    background-color: lightblue;
    margin: 2px;
    border-radius: 2px;
    box-shadow: 5px 10px 18px rgb(70, 175, 210);
}