body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    
    background-image: linear-gradient(to top, aqua, lightskyblue);
}

.todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 24%;
    border: 3px solid darkblue
    
}

.linea {
    display: flex;
    margin: 0;
}

.cuadrado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    max-width: 30%;
    margin: 10px;
    border: 2px solid #333;
    font-size: xx-large;

}



/* Estilos adicionales para crear la matriz de 3x3 */
.linea {
    flex-wrap: nowrap;
    /* Evita que los elementos de la fila se envuelvan */
}

.cuadrado:nth-child(4),
.cuadrado:nth-child(5),
.cuadrado:nth-child(6) {
    border-top: none;
    /* Elimina el borde superior de la segunda fila */
}

.linea:first-child .square,
.linea:last-child .square {
    border-bottom: none;
    /* Elimina el borde inferior de la primera y última fila */
}

