* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#pantalla {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* pega en los extremos y centra el restante */
    align-items: center; /* los elementos se centran horizontalmente */
}

article {
    width: 100%;
    display: flex;
    flex-direction: row; /* los cuadros estarán horizontales */
    justify-content: space-between; /* pega en los extremos y centra el restante */
    align-items: center; /* los elementos se centran verticalmente */
}

div {
    width: 15vw;
    height: 15vh;
    background-color: rgb(222, 100, 252); /* para ver los cuadros inicialmente */
}